client/node_modules/
processor/process/*
processor/data/*
processor/process/*
processor/output/*
processor/application_default_credentials.json
processor/.env
processor/helpers/__pycache__/
processor/.DS_Store
